<div class="maincontainer">
    <div class="box">
        <div class="cont">
            <i class="bi bi-arrow-left-circle-fill" style="font-size: 25px"></i>

            &nbsp; &nbsp;
            <h3>WT485 V2 Details</h3>
        </div>
        <hr style="margin: 5px; width: 98%" />

        <div class="setting">
            <i class="bi bi-gear" style="font-size: 15px; color: dodgerblue;"></i>
            &nbsp;
            <p>Commands Settings</p>
        </div>


        <div class="status">
            <div class="testpoll">
                <h4 style="font-weight: bold;">
                    # test poll-2
                </h4>
                <h3>
                    A4:E5:7C:47:83:F0
                </h3>
                <br />
                <div class="homeicon">
                    <i class="bi bi-house-door-fill"></i>
                    &nbsp;
                    <p>
                        test poll
                    </p>
                </div>
                <p>
                    test poll
                </p>
                <p>
                    Gurgaon, Haryana - 122001
                </p>

            </div>
            <div class="connecting">
                <div class="connect">
                    <i class="bi bi-reception-4" style="font-size: 30px; color: orange;"></i>
                    <p>Very Good</p>
                </div>
                <div class="connect">
                    <i class="bi bi-lightning-fill" style="font-size: 30px; color: #02bff7;"></i>
                    <p style="color: red;">Insufficient</p>
                </div>
                <div class="connect">
                    <i class="bi bi-globe2" style="font-size: 30px; color: green;"></i>
                    <p style="color: red;">Offline</p>
                </div>
                <div class="connect">
                    <i class="bi bi-exclamation-circle-fill" style="font-size: 30px; color: red;"></i>
                    <p style="color: red;">Communication Error</p>
                </div>
            </div>
            <div class="ping">
                <div class="pingstatus">
                    <p>
                        Last Ping Status: N/A
                    </p>
                    <i class="bi bi-info-circle-fill" style="font-size: 12px;"></i>
                </div>
                <div class="pingstatus">
                    <p>
                        Ping Count: N/A
                    </p>
                    <i class="bi bi-info-circle-fill" style="font-size: 12px;"></i>
                </div>
                <div class="pingstatus">
                    <p>
                        Address Range : 1 - 125
                    </p>
                    <i class="bi bi-info-circle-fill" style="font-size: 12px;"></i>
                </div>

            </div>
        </div>

        <br />
        <hr style="margin: 5px; width: 98%" />

        <div class="ports">
            <div class="ncnoport">
                <h4>NCNO Ports</h4>
                <div class="portdiv">
                    <div class="port">
                        <p>MCS DG</p>
                        <div class="infoport">
                            <hr style="margin: 5px; width: 100%" />

                            <h4>Non-Triggered(0)</h4>

                            <hr style="margin: 5px; width: 100%" />
                        </div>
                        <div class="portno">
                            <hr style="margin: 0px; width: 1px; height: 20px;" />Port No.1
                            <hr style="margin: 0px; width: 1px; height: 20px;" />
                        </div>
                    </div>


                    <div class="port">
                        <p>MCS DG</p>
                        <div class="infoport">
                            <hr style="margin: 5px; width: 100%" />

                            <h4>Non-Triggered(0)</h4>

                            <hr style="margin: 5px; width: 100%" />
                        </div>
                        <div class="portno">
                            <hr style="margin: 0px; width: 1px; height: 20px;" />Port No.2
                            <hr style="margin: 0px; width: 1px; height: 20px;" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="tempport">
                <h4>Temperature Ports</h4>
                <div class="portdiv">
                    <div class="port">
                        <p>SERVER ROOM</p>
                        <div class="infoport">
                        <hr style="margin: 5px; width: 100%" />
                        <h4>
                            RR.R <sup>o</sup>C
                        </h4>
                        <hr style="margin: 5px; width: 100%" />
                        </div>
                        <div class="portno">
                            <hr style="margin: 0px; width: 1px; height: 20px;" />Port No.3
                            <hr style="margin: 0px; width: 1px; height: 20px;" />
                        </div>
                    </div>


                    <div class="port">
                        <p>Lobby</p>
                        <div class="infoport">
                        <hr style="margin: 5px; width: 100%" />
                        <h4>
                            RR.R <sup>o</sup>C
                        </h4>
                        <hr style="margin: 5px; width: 100%" />
                        </div>
                        <div class="portno">
                            <hr style="margin:0px; width: 1px; height: 20px;" />Port No.4
                            <hr style="margin: 0px; width: 1px; height: 20px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>