<div class="maincontainer">
    <div class="box">
        <div class="commandhead">
            <i class="bi bi-gear" style="font-size: 15px; color: dodgerblue;"></i>
            &nbsp;
            <p>Commands Section</p>
        </div>


        <div class="commanddetail">

            <div class="set">
                <div class="ping">
                    <form>
                        <label style="font-weight: bold;">Set Ping URL</label>
                        <br />
                        <input type="text" placeholder="http://www.example?u=x" />
                        <br />
                        <button type="submit">Submit</button>
                    </form>
                </div>

                <div class="ping">
                    <form>
                        <label style="font-weight: bold;">Set Ping Interval</label>
                        <br />
                        <input type="text" placeholder="Interval in Seconds..." />
                        <br />
                        <button type="submit">Submit</button>
                    </form>
                </div>

                <div class="ping">
                    <form>
                        <label style="font-weight: bold;">Update Firmware</label>
                        <br />
                        <input type="text" placeholder="For eg: v1.2" />
                        <br />
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>

            <div class="set">
                <div class="detail">
                    <p style="font-weight: bold;">
                        Enable APM Mode
                    </p>
                    <p>
                        This command is used for switching the device to access
                        point mode for next 300 seconds which allows you to
                        updating a new WIFI credentials.

                    </p>
                    <button type="submit">Submit</button>
                </div>

                <div class="detail">
                    <form>
                        <label style="font-weight: bold;">Operate Relay(s)</label>
                        <br />
                        <select name="relay" id="relays">
                            <option value="">Select Relay No</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <br />
                        <select name="status" id="statusid">
                            <option value="">Select Status</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <br />
                        <button type="submit">Submit</button>
                    </form>
                </div>

                <div class="detail">
                    <form>
                        <label style="font-weight: bold;">Set Address</label>
                        <br />
                        <input type="text" placeholder="Address No" />
                        <br />
                        <p>This command is for setting the modbus address from
                            which the device will fetch data.</p>
                            <br />
                            <button type="submit">Submit</button>
                    </form>
                </div>
            </div>

            <div class="set">
                <div class="detail">
                    <p style="font-weight: bold;">
                        Get Ping URL
                    </p>
                    <p>
                        This command is getting the polling URL
                        saved in the device.

                    </p>
                    <button type="submit">Submit</button>
                </div>
                <div class="detail">
                    <p style="font-weight: bold;">
                        Restart Device
                    </p>
                    <p>
                        This command is for restarting the device remotely.
                    </p>
                    <button type="submit">Submit</button>
                </div>
                <div class="detail">
                    <p style="font-weight: bold;">
                        Relay Status
                    </p>
                    <p>
                        This command helps you get the status of both the relay.
                    </p>
                    <button type="submit">Submit</button>
                </div>

            </div>

            <div class="set">
                <div class="detail">
                    <p style="font-weight: bold;">
                        Get Ping Interval
                    </p>
                    <p>
                        This command is to get the ping interval set int WT485 device.

                    </p>
                    <button type="submit">Submit</button>
                </div>
                <div class="detail">
                    <p style="font-weight: bold;">
                        Get Firmware Version
                    </p>
                    <p>
                        This command is for getting the version of firmware installed in the device.
                    </p>
                    <button type="submit">Submit</button>
                </div>
                <div class="detail">
                    <p style="font-weight: bold;">
                        Save Smartmeter Data
                    </p>
                    <p>
                        This command is for saving currently active smartmeter data in DB.
                    </p>
                    <button type="submit">Submit</button>
                </div>

            </div>


        </div>
    </div>
</div>