.photographs{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
}
.innerdiv{
    display: flex;
    width: 60%;
    padding: 40px 10px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}
img{
    width: 320px;
    padding: 3px;
    /* height: 100px; */
}
img:hover{
    /* width: 350px; */
    /* transform-origin: center;
    transition: 3s; */
}
.carddiv{
    display: flex;
    flex-direction: column;
}