<div class="cont">
    <div class="imgbox">
        <img class="img-responsive" src="../../assets/image/logo2-light.png" />
    </div>
    <br />
    <br />
    <h1>
        {{welcome}}
    </h1>
    <br />
    <div class="infobox">
        <p>
            {{detail}}
        </p>
    </div>

    <br /><br /><br />
    <div class="photos">
        <h2>
            PhotoGraphs
        </h2>
        <br />

        <div class="cards">
            <div class="carddiv" >
                <img src="../../assets/image/cycle.jpg" />
            </div>
            <div class="carddiv">
                <img src="../../assets/image/d15.jpg" />
            </div>
            <div class="carddiv">
                <img src="../../assets/image/couple.jpg" />
            </div>

            <div class="carddiv">
                <img src="../../assets/image/elephant.jpg" />
            </div>
            <div class="carddiv">
                <img src="../../assets/image/food.jpg" />
            </div>
            <div class="carddiv hide-on-init" animateOnScroll animationName="animated fadeInDown">
                <img src="../../assets/image/india.jpg" />
            </div>
        </div>

    </div>

    
</div>